:root {
  --dark-bg: #444444;
  --dark-bg-dark-shadow: #363636;
  --dark-bg-light-shadow: #525252;
  --g-text-color-dark: rgba(255, 255, 255, 0.93);
  --box-shadow: 9px 9px 18px var(--dark-bg-dark-shadow),
  -9px -9px 18px var(--dark-bg-light-shadow);
  --primary: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background: var(--dark-bg);
  width: 100%;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-height: 3em;
  /* min-height: 3em; */
}
.fitness-app {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  max-height: calc(100vh - 3em);
  min-height: calc(100vh - 3em);
  overflow-y: auto;
}
.fitness-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}
.timeNavigator {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--g-text-color-dark);
  padding-bottom: 10px;
}
.globalData {
  min-width: 128px;
  min-height: 128px;
  box-shadow: var(--box-shadow);
  background: var(--dark-bg);
  border-radius: 150px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--g-text-color-dark);
}
.displayData {
  display: flex;
  padding: 1em;
  margin: .7em 0;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  border-radius: .5em;
  background: var(--dark-bg);
  color: var(--g-text-color-dark);
  box-shadow: var(--box-shadow);
}

.displayData .infos {
  flex-grow: 1;
  padding: 0 1em;
}

.displayData .infos .title {
  font-size: 0.9em;
  font-weight: 500;
}

.displayData .infos .goal {
  font-size: .8em;
}